* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_color: #1f3743;
  --primary_color1: #ea861b;
  --primary_color2: #e77817;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  accent-color: var(--primary_color);
}

ul {
  list-style: none;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  // color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

// input[type=range]::-webkit- {
//   height: 0.5rem;
// }
.podcast,
.podcast_page {
  input {
    height: 0.3rem;
  }
}

// input[type="range"]::-webkit-slider-thumb{
// -webkit-appearance: none !important;
// height: 1rem;
// width: 1rem;
// border-radius: 50%;
// }

.txt_small {
  font-weight: normal;
  font-size: 0.7rem;
}

.podcast_info {
  display: flex;
  margin-bottom: 1rem;

  .txt_small {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.sticky {
  background: var(--primary_color);
}

.display_mobile_nav {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.page_header_section {
  width: 100%;
  height: 300px;
  background: linear-gradient(
      to bottom left,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.4)
    ),
    url("../img/tbgd1.jpg") no-repeat center center/cover;
  // margin-bottom: 1rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon {
  margin-right: 0.3rem;
  cursor: pointer;
}

.podcast_control {
  display: flex;
  align-items: center;

  .podcast_play_control,
  .podcast_shuffle_control,
  .mobile_play_control,
  .mobile_shuffle_control {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .podcast_play_control,
  .podcast_shuffle_control {
    flex-basis: 10%;
  }

  .podcast_play_control {
    margin-right: 1rem;
  }

  .podcast_shuffle_control {
    margin-left: 1rem;
  }
  .mobile_play_control,
  .mobile_shuffle_control {
    flex-basis: 45%;
  }

  .podcast_time_control {
    display: flex;
    flex-basis: 75%;
    align-items: center;

    input {
      width: 100%;
      margin: 0 0.8rem;
    }
  }

  .mobile_podcast_control {
    display: none;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .podcast_play_control,
    .podcast_shuffle_control {
      display: none;
    }
    .podcast_time_control {
      width: 100%;
      margin-bottom: 20px;
    }

    .mobile_podcast_control {
      display: flex !important;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.dashboard {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  display: flex;

  .dash_child {
    width: 100%;
    overflow: auto;

    .dashboard_children {
      padding: 10px;
    }
  }
}

.loader,
.error {
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 9;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.spinner {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 6px;
  height: 18px;
  // margin: 6px;
  border: 3px solid var(--primary_color1);
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--primary_color1) transparent transparent transparent;
}
.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.image_cell {
  display: flex;
  align-items: center;
  justify-content: center;

  .image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 0.75rem;

  .view {
    padding: 2px 5px;
    border-radius: 5px;
    color: #00008b;
    border: 1px dotted #00008b98;
    cursor: pointer;
  }

  .delete {
    padding: 2px 5px;
    border-radius: 5px;
    color: crimson;
    border: 1px dotted #dc143c99;
    cursor: pointer;
  }
}

@import "./navbar";
@import "./homeSection";
@import "./podcast";
@import "./podcastPage";
@import "./blog";
@import "./sidebar";
@import "./singleBlog";
@import "./footer";
@import "./about";
@import "./lin&sin";
@import "./dashboardSidebar";
@import "./addBlogs";


// eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NDczZTU5ODczOWRlY2M0YWM2MmYxOWEiLCJpc0FkbWluIjpmYWxzZSwiaWF0IjoxNjg1MzE3MDE3fQ.8_ohfvkdSz30olecppQNvMtgs95FhtaPYw-MHv-SGLA
// eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NDczZTU5ODczOWRlY2M0YWM2MmYxOWEiLCJpc0FkbWluIjpmYWxzZSwiaWF0IjoxNjg1MzE3MTg2fQ.Pgjm6dHX8VRdbSaMMDywyKxP5RZV9PAanASNGyRYjXs